$desktop1px: 0.074vw;
$desktop2px: 0.147vw;
$desktop3px: 0.22vw;
$desktop4px: 0.22vw;
$desktop5px: 0.293vw;
$desktop5px: 0.293vw;
$desktop6px: 0.44vw;
$desktop7px: 0.513vw;
$desktop8px: 0.513vw;
$desktop9px: 0.66vw;
$desktop10px: 0.733vw;
$desktop11px: 0.806vw;
$desktop12px: 0.879vw;
$desktop13px: 0.952vw;
$desktop14px: 1.025vw;
$desktop15px: 1.099vw;
$desktop16px: 1.172vw;
$desktop17px: 1.245vw;
$desktop18px: 1.318vw;
$desktop19px: 1.391vw;
$desktop20px: 1.465vw;
$desktop21px: 1.538vw;
$desktop22px: 1.611vw;
$desktop23px: 1.684vw;
$desktop24px: 1.757vw;
$desktop25px: 1.831vw;
$desktop26px: 1.904vw;
$desktop27px: 1.977vw;
$desktop28px: 2.05vw;
$desktop29px: 2.123vw;
$desktop30px: 2.197vw;
$desktop31px: 2.27vw;
$desktop32px: 2.343vw;
$desktop33px: 2.416vw;
$desktop34px: 2.49vw;
$desktop35px: 2.563vw;
$desktop36px: 2.636vw;
$desktop37px: 2.709vw;
$desktop38px: 2.782vw;
$desktop39px: 2.856vw;
$desktop40px: 2.929vw;
$desktop41px: 3.002vw;
$desktop42px: 3.075vw;
$desktop43px: 3.148vw;
$desktop44px: 3.2212vw;
$desktop45px: 3.295vw;
$desktop46px: 3.368vw;
$desktop47px: 3.441vw;
$desktop48px: 3.514vw;
$desktop49px: 3.588vw;
$desktop50px: 3.661vw;
$desktop51px: 3.734vw;
$desktop52px: 3.807vw;
$desktop53px: 3.88vw;
$desktop54px: 3.954vw;
$desktop55px: 4.027vw;
$desktop56px: 4.1vw;
$desktop57px: 4.173vw;
$desktop58px: 4.246vw;
$desktop59px: 4.32vw;
$desktop60px: 4.393vw;
$desktop61px: 4.466vw;
$desktop62px: 4.539vw;
$desktop63px: 4.613vw;
$desktop64px: 4.686vw;
$desktop65px: 4.759vw;
$desktop66px: 4.832vw;
$desktop67px: 4.905vw;
$desktop68px: 4.979vw;
$desktop69px: 5.052vw;
$desktop70px: 5.125vw;
$desktop71px: 5.198vw;
$desktop72px: 5.272vw;
$desktop73px: 5.345vw;
$desktop74px: 5.418vw;
$desktop75px: 5.491vw;
$desktop76px: 5.564vw;
$desktop77px: 5.637vw;
$desktop78px: 5.711vw;
$desktop79px: 5.784vw;
$desktop80px: 5.857vw;
$desktop81px: 5.93vw;
$desktop82px: 6.003vw;
$desktop83px: 6.077vw;
$desktop84px: 6.15vw;
$desktop85px: 6.223vw;
$desktop86px: 6.296vw;
$desktop87px: 6.37vw;
$desktop88px: 6.443vw;
$desktop89px: 6.516vw;
$desktop90px: 6.589vw;
$desktop91px: 6.662vw;
$desktop92px: 6.736vw;
$desktop93px: 6.809vw;
$desktop94px: 6.882vw;
$desktop95px: 6.955vw;
$desktop96px: 7.028vw;
$desktop97px: 7.102vw;
$desktop98px: 7.175vw;
$desktop99px: 7.248vw;
$desktop100px: 7.321vw;
$desktop101px: 7.394vw;
$desktop102px: 7.468vw;
$desktop103px: 7.541vw;
$desktop104px: 7.614vw;
$desktop105px: 7.687vw;
$desktop106px: 7.76vw;
$desktop107px: 7.834vw;
$desktop108px: 7.907vw;
$desktop109px: 7.98vw;
$desktop110px: 8.053vw;
$desktop111px: 8.126vw;
$desktop112px: 8.2vw;
$desktop113px: 8.273vw;
$desktop114px: 8.346vw;
$desktop115px: 8.419vw;
$desktop116px: 8.492vw;
$desktop117px: 8.566vw;
$desktop118px: 8.639vw;
$desktop119px: 8.712vw;
$desktop120px: 8.785vw;
$desktop121px: 8.858vw;
$desktop122px: 8.932vw;
$desktop123px: 9.005vw;
$desktop124px: 9.078vw;
$desktop125px: 9.151vw;
$desktop126px: 9.225vw;
$desktop127px: 9.298vw;
$desktop128px: 9.371vw;
$desktop129px: 9.444vw;
$desktop130px: 9.517vw;
$desktop131px: 9.591vw;
$desktop132px: 9.664vw;
$desktop133px: 9.737vw;
$desktop134px: 9.81vw;
$desktop135px: 9.883vw;
$desktop136px: 9.957vw;
$desktop137px: 10.03vw;
$desktop138px: 10.103vw;
$desktop139px: 10.176vw;
$desktop140px: 10.25vw;
$desktop141px: 10.323vw;
$desktop142px: 10.396vw;
$desktop143px: 10.469vw;
$desktop144px: 10.542vw;
$desktop145px: 10.616vw;
$desktop146px: 10.689vw;
$desktop147px: 10.762vw;
$desktop148px: 10.835vw;
$desktop149px: 10.908vw;
$desktop150px: 10.982vw;
$desktop151px: 11.055vw;
$desktop152px: 11.128vw;
$desktop153px: 11.201vw;
$desktop154px: 11.274vw;
$desktop155px: 11.347vw;
$desktop156px: 11.421vw;
$desktop157px: 11.494vw;
$desktop158px: 11.567vw;
$desktop159px: 11.64vw;
$desktop160px: 11.714vw;
$desktop161px: 11.787vw;
$desktop162px: 11.86vw;
$desktop163px: 11.933vw;
$desktop164px: 12.006vw;
$desktop165px: 12.08vw;
$desktop166px: 12.153vw;
$desktop167px: 12.226vw;
$desktop168px: 12.299vw;
$desktop169px: 12.372vw;
$desktop170px: 12.446vw;
$desktop171px: 12.519vw;
$desktop172px: 12.592vw;
$desktop173px: 12.665vw;
$desktop174px: 12.738vw;
$desktop175px: 12.812vw;
$desktop176px: 12.885vw;
$desktop177px: 12.958vw;
$desktop178px: 13.031vw;
$desktop179px: 13.104vw;
$desktop180px: 13.178vw;
$desktop181px: 13.251vw;
$desktop182px: 13.324vw;
$desktop183px: 13.397vw;
$desktop184px: 13.47vw;
$desktop185px: 13.544vw;
$desktop186px: 13.617vw;
$desktop187px: 13.69vw;
$desktop188px: 13.763vw;
$desktop189px: 13.837vw;
$desktop190px: 13.91vw;
$desktop191px: 13.983vw;
$desktop192px: 14.056vw;
$desktop193px: 14.129vw;
$desktop194px: 14.203vw;
$desktop195px: 14.276vw;
$desktop196px: 14.349vw;
$desktop197px: 14.422vw;
$desktop198px: 14.495vw;
$desktop199px: 14.569vw;
$desktop200px: 14.642vw;



$desktop211px: 15.447vw;
$desktop231px: 16.911vw;
$desktop239px: 17.497vw;
$desktop240px: 17.57vw;
$desktop245px: 17.936vw;
$desktop263px: 19.254vw;
$desktop271px: 19.766vw;
$desktop278px: 20.352vw;
$desktop280px: 20.498vw;
$desktop303px: 27.55vw;
$desktop313px: 22.914vw;
$desktop320px: 23.427vw;
$desktop342px: 25.037vw;
$desktop348px: 25.476vw;
$desktop356px: 25.916vw;
$desktop357px: 25.989vw;
$desktop358px: 26.062vw;
$desktop360px: 26.355vw;
$desktop372px: 27.233vw;
$desktop421px: 30.82vw;
$desktop459px: 33.602vw;
$desktop478px: 34.993vw;
$desktop492px: 36.018vw;
$desktop514px: 37.629vw;
$desktop519px: 37.995vw;
$desktop534px: 39.093vw;
$desktop536px: 39.239vw;
$desktop541px: 39.605vw;
$desktop544px: 39.825vw;
$desktop567px: 41.509vw;
$desktop571px: 41.801vw;
$desktop572px: 41.875vw;
$desktop577px: 42.241vw;
$desktop588px: 43.046vw;
$desktop600px: 43.924vw;
$desktop603px: 44.144vw;
$desktop650px: 47.585vw;
$desktop659px: 48.244vw;
$desktop680px: 49.781vw;
$desktop693px: 50.733vw;
$desktop702px: 51.392vw;
$desktop730px: 53.441vw;
$desktop750px: 51.245vw;
$desktop797px: 58.346vw;
$desktop860px: 62.958vw;
$desktop970px: 72.605vw;
$desktop1126px: 84.282vw;
$desktop1206px: 88.287vw;