ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Anek Bangla", sans-serif;
  color: white;
}

p {
  color: #FFFFFF;
}

.container {
  width: 88.287vw;
  margin: 0 auto;
  padding: 0;
}

.block-background {
  background-image: url("/image/background-img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.block-background__info {
  padding-top: 14.642vw;
}
.block-background__title {
  font-size: 3.514vw;
  font-weight: bold;
  color: #FFFFFF;
}
.block-background__profession {
  font-size: 1.611vw;
  color: #FFFFFF;
}
.block-background__underLine {
  width: 6.003vw;
  margin: 0.733vw 0 1.831vw 0;
  border-color: #CE1515;
}
.block-background__setting {
  font-size: 1.611vw;
  padding: 12px 30px 12px 30px;
  color: #FFFFFF;
  background: #CE1515;
}
.block-background__buttonDownload {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.block-background__imgIcon {
  margin-left: 1.391vw;
}
.block-background__rightInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  right: 309px;
  top: 60px;
}
.block-background__general {
  display: flex;
  justify-content: space-between;
}
.block-background__email {
  display: flex;
  justify-content: right;
}
.block-background__textMail {
  font-size: 1.025vw;
}

.block-header {
  width: 100%;
  position: absolute;
}
.block-header__navMenu {
  display: flex;
  justify-content: center;
  padding: 30px 0 30px 0;
}
.block-header__linksItem {
  display: flex;
}
.block-header__link {
  color: white;
  font-size: 1.172vw;
}
.block-header__link:hover {
  color: red;
  border-bottom: 1px solid #CE1515;
  padding-bottom: 0.293vw;
}
.block-header__links {
  margin-right: 50px;
}
.block-header__links:last-child {
  margin-right: unset;
}
.block-header__line {
  background: #FFFFFF;
  opacity: 0.3;
}

.block-AboutMe__title {
  font-size: 2.636vw;
  text-transform: uppercase;
  text-align: center;
  color: black;
  margin-top: 3.661vw;
}
.block-AboutMe__animator {
  display: flex;
  align-items: center;
  background: black;
  height: 36.018vw;
  margin: 5.125vw 0 6.516vw 0;
}
.block-AboutMe__character {
  margin-top: 1.099vw;
  font-size: 1.318vw;
}
.block-AboutMe__hrLine {
  width: 6.003vw;
  margin: 1.831vw 0;
}
.block-AboutMe__line {
  width: 5.93vw;
  border-color: #CE1515;
  opacity: 0.5;
}
.block-AboutMe__textBlock {
  margin-top: 1.831vw;
  font-size: 1.172vw;
}
.block-AboutMe__href {
  margin-top: 3.2212vw;
  text-decoration: underline;
}
.block-AboutMe__name {
  font-size: 1.757vw;
  font-weight: 700;
}
.block-AboutMe__summary {
  font-size: 1.318vw;
}
.block-AboutMe__lineText {
  width: 5.93vw;
  border-color: #CE1515;
  opacity: 0.5;
}
.block-AboutMe__color {
  color: white;
  font-size: 1.318vw;
}

.block-Project {
  background: #1D1D1D;
}
.block-Project__head {
  text-align: center;
  font-size: 2.636vw;
  font-weight: 700;
}
.block-Project__itemSlider {
  display: flex;
  justify-content: space-between;
}
.block-Project__selected {
  font-size: 1.757vw;
  font-weight: 700;
}
.block-Project__item {
  font-size: 1.318vw;
  font-weight: 400;
  color: white;
  text-decoration: underline;
  margin-right: 47px;
}
.block-Project__allProject {
  display: flex;
  align-items: baseline;
}
.block-Project__imageOne {
  position: relative;
  right: 18px;
}
.block-Project__image {
  position: relative;
  top: -43px;
}

/*# sourceMappingURL=style.css.map */
