@import "size-desc";
@import "general";



.container {
  width: 88.287vw;
  margin: 0 auto;
  padding: 0;
}

.block-background {
  background-image: url("/image/background-img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  &__info {
    padding-top: $desktop200px;
  }

  &__title {
    font-size: $desktop48px;
    font-weight: bold;
    color: #FFFFFF;
  }

  &__profession {
    font-size: $desktop22px;
    color: #FFFFFF;
  }

  &__underLine {
    width: 6.003vw;
    margin: 0.733vw 0 1.831vw 0;
    border-color: #CE1515;
  }

  &__setting {
    font-size: $desktop22px;
    padding: 12px 30px 12px 30px;
    color: #FFFFFF;
    background: #CE1515;
  }

  &__buttonDownload {
    margin-top: 50px;
    display: flex;
    align-items: center;
  }

  &__imgIcon {
    margin-left: $desktop19px;
  }

  &__rightInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    right: 309px;
    top: 60px;
  }

  &__general {
    display: flex;
    justify-content: space-between;
  }

  &__email {
    display: flex;
    justify-content: right;
  }

  &__textMail {
    font-size: $desktop14px;
  }
}

.block-header {
  width: 100%;
  position: absolute;

  &__navMenu {
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
  }

  &__linksItem {
    display: flex;
  }

  &__link {
    color: white;
    font-size: $desktop16px;

    &:hover {
      color: red;
      border-bottom: 1px solid #CE1515;
      padding-bottom: 0.293vw;
    }
  }

  &__links {
    margin-right: 50px;

    &:last-child {
      margin-right: unset;
    }
  }

  &__line {
    background: #FFFFFF;
    opacity: 0.3;
  }
}

.block-AboutMe {

  &__title {
    font-size: $desktop36px;
    text-transform: uppercase;
    text-align: center;
    color: black;
    margin-top: $desktop50px;
  }

  &__animator {
    display: flex;
    align-items: center;
    background: black;
    height: 36.018vw;
    margin: 5.125vw 0 6.516vw 0;
  }

  &__character {
    margin-top: $desktop15px;
    font-size: $desktop18px;
  }

  &__hrLine {
    width: 6.003vw;
    margin: 1.831vw 0;
  }

  &__line {
    width: 5.93vw;
    border-color: #CE1515;
    opacity: 0.5;
  }

  &__textBlock {
    margin-top: $desktop25px;
    font-size: $desktop16px;
  }

  &__href {
    margin-top: $desktop44px;
    text-decoration: underline
  }

  &__name {
    font-size: $desktop24px;
    font-weight: 700;
  }

  &__summary {
    font-size: $desktop18px;
  }

  &__lineText {
    width: 5.93vw;
    border-color: #CE1515;
    opacity: 0.5
  }

  &__color {
    color: white;
    font-size: $desktop18px;
  }
}

.block-Project {
  background: #1D1D1D;

  &__head {
    text-align: center;
    font-size: $desktop36px;
    font-weight: 700;
  }

  &__itemSlider {
    display: flex;
    justify-content: space-between;
  }

  &__selected {
    font-size: $desktop24px;
    font-weight: 700;
  }

  &__item {
    font-size: $desktop18px;
    font-weight: 400;
    color: white;
    text-decoration: underline;
    margin-right: 47px;
  }

  &__allProject {
    display: flex;
    align-items: baseline;
  }

  &__imageOne {
    position: relative;
    right: 18px;
  }

  &__image {
    position: relative;
    top: -43px;
  }
}

