ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Anek Bangla", sans-serif;
  color: white;
  letter-spacing: 0.265em;
}

p {
  color: #FFFFFF;
}

@font-face {
  font-family: "Grape Nuts", cursive;
}
.container {
  width: 88.287vw;
  margin: 0 auto;
  padding: 0;
}

.block-background {
  background-image: url("/image/background-img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.block-background__info {
  padding-top: 14.642vw;
}
.block-background__title {
  font-size: 3.514vw;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 0.265em;
}
.block-background__profession {
  font-size: 1.611vw;
  color: #FFFFFF;
  letter-spacing: 0.265em;
}
.block-background__underLine {
  width: 6.003vw;
  margin: 0.733vw 0 1.831vw 0;
  border-color: #CE1515;
}
.block-background__setting {
  font-size: 1.611vw;
  padding: 12px 30px 12px 30px;
  color: #FFFFFF;
  background: #CE1515;
  letter-spacing: 0.265em;
}
.block-background__buttonDownload {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.block-background__imgIcon {
  margin-left: 1.391vw;
}
.block-background__rightInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  right: 309px;
  top: 60px;
}
.block-background__general {
  display: flex;
  justify-content: space-between;
}
.block-background__email {
  display: flex;
  justify-content: right;
}
.block-background__textMail {
  font-size: 1.025vw;
}

.block-header {
  width: 100%;
  position: absolute;
}
.block-header__navMenu {
  display: flex;
  justify-content: center;
  padding: 30px 0 30px 0;
}
.block-header__linksItem {
  display: flex;
}
.block-header__link {
  color: white;
  font-size: 1.172vw;
}
.block-header__link:hover {
  color: red;
  border-bottom: 1px solid #CE1515;
  padding-bottom: 0.293vw;
}
.block-header__links {
  margin-right: 50px;
}
.block-header__links:last-child {
  margin-right: unset;
}
.block-header__line {
  background: #FFFFFF;
  opacity: 0.3;
}

.block-AboutMe__title {
  font-size: 2.636vw;
  text-transform: uppercase;
  text-align: center;
  color: black;
  margin-top: 3.661vw;
}
.block-AboutMe__animator {
  display: flex;
  align-items: center;
  background: black;
  height: 36.018vw;
  margin: 5.125vw 0 6.516vw 0;
}
.block-AboutMe__character {
  margin-top: 1.099vw;
  font-size: 1.318vw;
}
.block-AboutMe__hrLine {
  width: 6.003vw;
  margin: 1.831vw 0;
}
.block-AboutMe__line {
  width: 5.93vw;
  border-color: #CE1515;
  opacity: 0.5;
}
.block-AboutMe__textBlock {
  margin-top: 1.831vw;
  font-size: 1.172vw;
}
.block-AboutMe__href {
  margin-top: 3.2212vw;
  text-decoration: underline;
}
.block-AboutMe__name {
  font-size: 1.757vw;
  font-weight: 700;
}
.block-AboutMe__summary {
  font-size: 1.318vw;
}
.block-AboutMe__lineText {
  width: 5.93vw;
  border-color: #CE1515;
  opacity: 0.5;
}
.block-AboutMe__color {
  color: white;
  font-size: 1.318vw;
}

.block-Project {
  background: #1D1D1D;
}
.block-Project__head {
  text-align: center;
  font-size: 2.636vw;
  font-weight: 700;
}
.block-Project__itemSlider {
  display: flex;
  justify-content: space-between;
}
.block-Project__selected {
  font-size: 1.757vw;
  font-weight: 700;
}
.block-Project__item {
  font-size: 1.318vw;
  font-weight: 400;
  color: white;
  text-decoration: underline;
  margin-right: 47px;
}
.block-Project__allProject {
  display: flex;
  align-items: baseline;
}
.block-Project__imageOne {
  position: relative;
  right: 18px;
}
.block-Project__image {
  position: relative;
  top: -43px;
}
.block-Project__itemImage {
  display: flex;
  justify-content: right;
  align-content: center;
}

.footer-Block {
  background: black;
}
.footer-Block__topBlock {
  display: flex;
  justify-content: center;
}
.footer-Block__itemBlocks {
  margin-right: 3.661vw;
}
.footer-Block__itemBlocks:last-child {
  margin-right: 0;
}
.footer-Block__middleMail {
  display: flex;
  justify-content: center;
  margin: 2.197vw 0 1.245vw 0;
  font-size: 1.025vw;
  font-weight: 400;
}
.footer-Block__iconsMedia {
  display: flex;
  justify-content: center;
}
.footer-Block__copyright {
  display: flex;
  justify-content: center;
  margin-top: 2.343vw;
  font-size: 0.879vw;
  opacity: 0.5;
}
.footer-Block__settings {
  color: white;
  font-weight: 700;
}
.footer-Block__center {
  padding: 2.27vw 0 2.343vw 0;
}
.footer-Block__socialMedia {
  margin-right: 0.733vw;
}
.footer-Block__socialMedia:last-child {
  margin-right: 0;
}

.block-Vimeo__bigText {
  color: black;
  letter-spacing: 0.156em;
}
.block-Vimeo__bigTextSecond {
  font-size: 24px;
  letter-spacing: 0.156em;
  font-weight: 500;
  color: black;
}
.block-Vimeo__linkVimeo {
  font-size: 9.151vw;
  color: #00adef;
  font-family: "Grape Nuts", cursive;
  font-weight: bold;
  letter-spacing: 0.156em;
  transition: 1s;
}
.block-Vimeo__allParts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.661vw 0;
}

.aboutMe {
  background: #333333;
}
.aboutMe__titleBlock {
  display: flex;
  justify-content: center;
  padding-top: 7.321vw;
}
.aboutMe__word {
  text-transform: uppercase;
  font-size: 2.636vw;
  font-weight: 700;
}
.aboutMe__allRedIcon {
  display: flex;
  justify-content: space-around;
}
.aboutMe__infoMaya {
  display: flex;
  align-items: center;
}
.aboutMe__redItem {
  margin-right: 5.125vw;
}
.aboutMe__redItem:last-child {
  margin-right: 0;
}
.aboutMe__redLine {
  border-color: #CE1515;
  opacity: 0.5;
  width: 30.82vw;
  margin-bottom: 1.831vw;
}
.aboutMe__software {
  padding-bottom: 1.831vw;
  font-size: 1.757vw;
  font-weight: 700;
}
.aboutMe__engines {
  padding-bottom: 1.831vw;
  font-size: 1.757vw;
  font-weight: 700;
}
.aboutMe__redLineSecond {
  border-color: #CE1515;
  opacity: 0.5;
  margin-bottom: 1.831vw;
  width: 13.544vw;
}
.aboutMe__unreal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutMe__unrealName {
  font-size: 1.318vw;
}
.aboutMe__max {
  font-size: 1.318vw;
}
.aboutMe__longText {
  padding: 3.661vw 0 3.661vw 0;
}
.aboutMe__industry {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutMe__titleIndustry {
  font-size: 1.757vw;
  font-weight: 700;
}
.aboutMe__employment {
  font-size: 1.318vw;
  font-weight: 400;
  text-transform: uppercase;
}
.aboutMe__redLineThird {
  border-color: #CE1515;
  opacity: 0.5;
  width: 13.544vw;
}
.aboutMe__playQ {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutMe__workPlace {
  font-size: 1.757vw;
  font-weight: 400;
}
.aboutMe__senior {
  font-size: 1.318vw;
  font-weight: 400;
}
.aboutMe__responsible {
  font-size: 1.172vw;
  font-weight: 400;
  padding: 1.099vw 0 1.831vw 0;
  text-align: center;
}
.aboutMe__education {
  font-size: 1.318vw;
  text-align: center;
}

.project-Block {
  background: #E5E5E5;
}
.project-Block__titleForBlock {
  font-size: 2.636vw;
  font-weight: 700;
  text-transform: uppercase;
  color: #1D1D1D;
  text-align: center;
}
.project-Block__youtubeVideo {
  margin-top: 1.831vw;
}
.project-Block__imgGvint {
  width: 48.244vw;
  height: 41.801vw;
  top: 4.027vw;
}

.projectText {
  color: #1D1D1D;
}

.setting {
  padding-top: 0;
}

.padding {
  margin-top: -1.901vw;
}

.order {
  order: 1;
}

.turnRight {
  margin-left: 1.831vw;
}

/*# sourceMappingURL=style.css.map */
