@import "size-desc";
@import "general";

@font-face {
  font-family: 'Grape Nuts', cursive;;
}

.container {
  width: 88.287vw;
  margin: 0 auto;
  padding: 0;
}

.block-background {
  background-image: url("/image/background-img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  &__info {
    padding-top: $desktop200px;
  }

  &__title {
    font-size: $desktop48px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 0.265em;
  }

  &__profession {
    font-size: $desktop22px;
    color: #FFFFFF;
    letter-spacing: 0.265em;
  }

  &__underLine {
    width: 6.003vw;
    margin: 0.733vw 0 1.831vw 0;
    border-color: #CE1515;
  }

  &__setting {
    font-size: $desktop22px;
    padding: 12px 30px 12px 30px;
    color: #FFFFFF;
    background: #CE1515;
    letter-spacing: 0.265em;
  }

  &__buttonDownload {
    margin-top: 50px;
    display: flex;
    align-items: center;
  }

  &__imgIcon {
    margin-left: $desktop19px;
  }

  &__rightInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    right: 309px;
    top: 60px;
  }

  &__general {
    display: flex;
    justify-content: space-between;
  }

  &__email {
    display: flex;
    justify-content: right;
  }

  &__textMail {
    font-size: $desktop14px;
  }

}

.block-header {
  width: 100%;
  position: absolute;

  &__navMenu {
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
  }

  &__linksItem {
    display: flex;
  }

  &__link {
    color: white;
    font-size: $desktop16px;

    &:hover {
      color: red;
      border-bottom: 1px solid #CE1515;
      padding-bottom: 0.293vw;
    }
  }

  &__links {
    margin-right: 50px;

    &:last-child {
      margin-right: unset;
    }
  }

  &__line {
    background: #FFFFFF;
    opacity: 0.3;
  }
}

.block-AboutMe {

  &__title {
    font-size: $desktop36px;
    text-transform: uppercase;
    text-align: center;
    color: black;
    margin-top: $desktop50px;
  }

  &__animator {
    display: flex;
    align-items: center;
    background: black;
    height: 36.018vw;
    margin: 5.125vw 0 6.516vw 0;
  }

  &__character {
    margin-top: $desktop15px;
    font-size: $desktop18px;
  }

  &__hrLine {
    width: 6.003vw;
    margin: 1.831vw 0;
  }

  &__line {
    width: 5.93vw;
    border-color: #CE1515;
    opacity: 0.5;
  }

  &__textBlock {
    margin-top: $desktop25px;
    font-size: $desktop16px;
  }

  &__href {
    margin-top: $desktop44px;
    text-decoration: underline
  }

  &__name {
    font-size: $desktop24px;
    font-weight: 700;
  }

  &__summary {
    font-size: $desktop18px;
  }

  &__lineText {
    width: 5.93vw;
    border-color: #CE1515;
    opacity: 0.5
  }

  &__color {
    color: white;
    font-size: $desktop18px;
  }
}

.block-Project {
  background: #1D1D1D;

  &__head {
    text-align: center;
    font-size: $desktop36px;
    font-weight: 700;
  }

  &__itemSlider {
    display: flex;
    justify-content: space-between;
  }

  &__selected {
    font-size: $desktop24px;
    font-weight: 700;
  }

  &__item {
    font-size: $desktop18px;
    font-weight: 400;
    color: white;
    text-decoration: underline;
    margin-right: 47px;
  }

  &__allProject {
    display: flex;
    align-items: baseline;
  }

  &__imageOne {
    position: relative;
    right: 18px;
  }

  &__image {
    position: relative;
    top: -43px;
  }

  &__itemImage {
    display: flex;
    justify-content: right;
    align-content: center;
    //height: 375px;
  }
}

.footer-Block {

  background: black;

  &__topBlock {
    display: flex;
    justify-content: center;
  }

  &__itemBlocks {
    margin-right: $desktop50px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__middleMail {
    display: flex;
    justify-content: center;
    margin: $desktop30px 0 $desktop17px 0;
    font-size: $desktop14px;
    font-weight: 400;
  }

  &__iconsMedia {
    display: flex;
    justify-content: center;
  }

  &__copyright {
    display: flex;
    justify-content: center;
    margin-top: $desktop32px;
    font-size: $desktop12px;
    opacity: 0.5;
  }

  &__settings {
    color: white;
    font-weight: 700;
  }

  &__center {
    padding: $desktop31px 0 $desktop32px 0;
  }

  &__socialMedia {
    margin-right: $desktop10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.block-Vimeo {

  &__bigText {
    color: black;
    letter-spacing: 0.156em;
  }

  &__bigTextSecond {
    font-size: 24px;
    letter-spacing: 0.156em;
    font-weight: 500;
    color: black;
  }

  &__linkVimeo {
    font-size: 9.151vw;
    color: #00adef;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    letter-spacing: 0.156em;
    transition: 1s;
  }

  &__allParts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.661vw 0;
  }

}

.aboutMe {
  background: #333333;

  &__titleBlock {
    display: flex;
    justify-content: center;
    padding-top: $desktop100px;
  }

  &__word {
    text-transform: uppercase;
    font-size: $desktop36px;
    font-weight: 700;
  }

  &__allRedIcon {
    display: flex;
    justify-content: space-around;
  }

  &__infoMaya {
    display: flex;
    align-items: center;
  }

  &__redItem {
    margin-right: $desktop70px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__redLine {
    border-color: #CE1515;
    opacity: 0.5;
    width: $desktop421px;
    margin-bottom: $desktop25px;
  }

  &__software {
    padding-bottom: $desktop25px;
    font-size: $desktop24px;
    font-weight: 700;
  }

  &__engines {
    padding-bottom: $desktop25px;
    font-size: $desktop24px;
    font-weight: 700;
  }

  &__redLineSecond {
    border-color: #CE1515;
    opacity: 0.5;
    margin-bottom: $desktop25px;
    width: $desktop185px;
  }

  &__unreal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__unrealName {
    font-size: $desktop18px;
  }

  &__max {
    font-size: $desktop18px;
  }

  &__longText {
    padding: $desktop50px 0 $desktop50px 0;
  }

  &__industry {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__titleIndustry {
    font-size: $desktop24px;
    font-weight: 700;
  }

  &__employment {
    font-size: $desktop18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__redLineThird {
    border-color: #CE1515;
    opacity: 0.5;
    width: $desktop185px;
  }

  &__playQ {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__workPlace {
    font-size: $desktop24px;
    font-weight: 400;
  }

  &__senior {
    font-size: $desktop18px;
    font-weight: 400;
  }

  &__responsible {
    font-size: $desktop16px;
    font-weight: 400;
    padding: $desktop15px 0 $desktop25px 0;
    text-align: center;
  }

  &__education {
    font-size: $desktop18px;
    text-align: center;
  }
}

.project-Block {
  background: #E5E5E5;

  &__titleForBlock {
    font-size: $desktop36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1D1D1D;
    text-align: center;
  }

  &__youtubeVideo {
    margin-top: 1.831vw;
  }

  &__imgGvint {
    width: 48.244vw;
    height: 41.801vw;
    top: 4.027vw;
  }
}

.projectText {
  color: #1D1D1D;
}

.setting {
  padding-top: 0;
}

.padding {
  margin-top: -1.901vw;
}

.order {
  order: 1;
}

.turnRight {
  margin-left: $desktop25px;
}

